# example: my-website.com
FUSIONAUTH_ISSUER=
FUSIONAUTH_CLIENT_ID=
FUSIONAUTH_CLIENT_SECRET=
# FUSIONAUTH_CLIENT_ID=e9fdb985-9173-4e01-9d73-ac2d60d1dc8e
# FUSIONAUTH_CLIENT_SECRET=super-secret-secret-that-should-be-regenerated-for-production

# Leave blank if you only have the default tenant
FUSIONAUTH_TENANT_ID=
# example: https://cc-ue.fusionauth.io
FUSIONAUTH_URL=
# you can run `openssl rand -base64 32`
NEXTAUTH_SECRET=
